<!--
	For more information on how to configure your ASP.NET application, please visit
	http://go.microsoft.com/fwlink/?LinkId=169433
	-->
<configuration>
	<configSections>
		<!--<sectionGroup name="devExpress">
			<section name="themes" type="DevExpress.Web.ASPxClasses.ThemesConfigurationSection, DevExpress.Web.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="compression" type="DevExpress.Web.ASPxClasses.CompressionConfigurationSection, DevExpress.Web.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="settings" type="DevExpress.Web.ASPxClasses.SettingsConfigurationSection, DevExpress.Web.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="errors" type="DevExpress.Web.ASPxClasses.ErrorsConfigurationSection, DevExpress.Web.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
		</sectionGroup>-->
	</configSections>
	<appSettings>
		<add key="CrystalImageCleaner-AutoStart" value="true"/>
		<add key="CrystalImageCleaner-Sleep" value="60000"/>
		<add key="CrystalImageCleaner-Age" value="120000"/>
		<add key="Visit" value="Data Source=win11.hosterpk.com;Initial Catalog=sngonclo_BMS;User ID=sngonclo_USER;Password=qadir$1234;"/>
		<!--<add key="Visit" value="Data Source=.;Initial Catalog=BMS_Hino;User ID=sa;Password=123;"/>-->
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	</appSettings>
	<connectionStrings>
		<!--<add name="BMSConnectionString" connectionString="Data Source=DBServer;Initial Catalog=BMS;Persist Security Info=True;User ID=sa;Password=sa@1234;MultipleActiveResultSets=true;"  providerName="System.Data.SqlClient"/>-->
		<!--<add name="BMSConnectionString" connectionString="Data Source=akramali-pc;Initial Catalog=BMS0517;Persist Security Info=True;User ID=sa;Password=tiger;MultipleActiveResultSets=true;"  providerName="System.Data.SqlClient"/>-->
		<!--<add name="BMSConnectionString" connectionString="Data Source=DESKTOP-PEGL638;Initial Catalog=BMS0517Dec;Integrated Security=True" providerName="System.Data.SqlClient" />-->
		<add name="BMSConnectionString" connectionString="Data Source=win11.hosterpk.com;Initial Catalog=sngonclo_BMS;Persist Security Info=True;User ID=sngonclo_USER;Password=qadir$1234; MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
		<!--<add name="BMSConnectionString" connectionString="Data Source=182.176.107.146;Initial Catalog=BMS_Latest;Persist Security Info=True;User ID=sa;Password=sa@1234;MultipleActiveResultSets=true;"  providerName="System.Data.SqlClient"/>-->
	</connectionStrings>
	<system.web>  
		<compilation debug="true" targetFramework="4.5">
			<assemblies>
				<!--<add assembly="DevExpress.Data.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.Web.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.Web.ASPxHtmlEditor.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.Web.ASPxSpellChecker.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.Web.ASPxTreeList.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.Web.ASPxThemes.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.Web.ASPxPivotGrid.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.Utils.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.Office.v13.2.Core, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.RichEdit.v13.2.Core, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.SpellChecker.v13.2.Core, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.Charts.v13.2.Core, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.XtraCharts.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.XtraGauges.v13.2.Core, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.XtraGauges.v13.2.Presets, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.Web.ASPxGauges.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.XtraCharts.v13.2.Web, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.Printing.v13.2.Core, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.XtraReports.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.XtraReports.v13.2.Web, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.XtraPivotGrid.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.PivotGrid.v13.2.Core, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.XtraScheduler.v13.2.Core, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.Web.ASPxScheduler.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>-->
				<!--<add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->


				<add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				
				
				
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></assemblies>
		</compilation>
		<authentication mode="Windows"/>
		<!--<machineKey validationKey="6E511C7F0DC955C37B1A4A677F599AC27FEB3CF5D2BC256786C52C1F4D60DCE8E5F6093477081BECCD899AF47495E57FC2F5191C22B4FEE7053675B11E83F69E" decryptionKey="6E511C7F0DC955C37B1A4A677F599AC27FEB3CF5D2BC256786C52C1F4D60DCE8E5F6093477081BECCD899AF47495E57FC2F5191C22B4FEE7053675B11E83F69E" validation="SHA1"/>-->
		
		<profile>
			<providers>
				<clear/>
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
			</providers>
		</profile>
		<roleManager enabled="false">
			<providers>
				<clear/>
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
				<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
			</providers>
		</roleManager>
		<httpHandlers>
			<!--<add type="DevExpress.Web.ASPxUploadControl.ASPxUploadProgressHttpHandler, DevExpress.Web.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false"/>
			<add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" validate="false"/>-->
			<!--<add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->
			<add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
		</httpHandlers>
		
		<httpModules>
			<!--<add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>-->
		</httpModules>
		<globalization culture="" uiCulture=""/>
		<httpRuntime maxRequestLength="4096" requestValidationMode="2.0" executionTimeout="110"/>
		<pages validateRequest="false" clientIDMode="AutoID">
			<!--<controls>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxCallback" assembly="DevExpress.Web.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxCallbackPanel" assembly="DevExpress.Web.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxClasses" assembly="DevExpress.Web.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxCloudControl" assembly="DevExpress.Web.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxDataView" assembly="DevExpress.Web.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxDocking" assembly="DevExpress.Web.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxEditors" assembly="DevExpress.Web.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxFileManager" assembly="DevExpress.Web.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxFormLayout" assembly="DevExpress.Web.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxGlobalEvents" assembly="DevExpress.Web.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxGridLookup" assembly="DevExpress.Web.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxGridView" assembly="DevExpress.Web.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxGridView.Export" assembly="DevExpress.Web.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxHeadline" assembly="DevExpress.Web.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxHiddenField" assembly="DevExpress.Web.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxImageGallery" assembly="DevExpress.Web.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxImageSlider" assembly="DevExpress.Web.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxLoadingPanel" assembly="DevExpress.Web.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxMenu" assembly="DevExpress.Web.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxNavBar" assembly="DevExpress.Web.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxNewsControl" assembly="DevExpress.Web.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxObjectContainer" assembly="DevExpress.Web.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxPager" assembly="DevExpress.Web.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxPanel" assembly="DevExpress.Web.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxPopupControl" assembly="DevExpress.Web.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxProgressBar" assembly="DevExpress.Web.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxRatingControl" assembly="DevExpress.Web.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxResourceManagers" assembly="DevExpress.Web.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxRoundPanel" assembly="DevExpress.Web.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxSiteMapControl" assembly="DevExpress.Web.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxSplitter" assembly="DevExpress.Web.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxTabControl" assembly="DevExpress.Web.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxTimer" assembly="DevExpress.Web.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxTitleIndex" assembly="DevExpress.Web.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxTreeView" assembly="DevExpress.Web.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxUploadControl" assembly="DevExpress.Web.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxHtmlEditor" assembly="DevExpress.Web.ASPxHtmlEditor.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxSpellChecker" assembly="DevExpress.Web.ASPxSpellChecker.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxTreeList" assembly="DevExpress.Web.ASPxTreeList.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxTreeList.Export" assembly="DevExpress.Web.ASPxTreeList.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxPivotGrid" assembly="DevExpress.Web.ASPxPivotGrid.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxPivotGrid.Export" assembly="DevExpress.Web.ASPxPivotGrid.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.XtraCharts" assembly="DevExpress.XtraCharts.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxGauges" assembly="DevExpress.Web.ASPxGauges.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxGauges.Gauges" assembly="DevExpress.Web.ASPxGauges.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxGauges.Gauges.Linear" assembly="DevExpress.Web.ASPxGauges.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxGauges.Gauges.Circular" assembly="DevExpress.Web.ASPxGauges.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxGauges.Gauges.State" assembly="DevExpress.Web.ASPxGauges.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxGauges.Gauges.Digital" assembly="DevExpress.Web.ASPxGauges.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.XtraCharts.Web" assembly="DevExpress.XtraCharts.v13.2.Web, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.XtraScheduler" assembly="DevExpress.XtraScheduler.v13.2.Core, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxScheduler" assembly="DevExpress.Web.ASPxScheduler.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxScheduler.Controls" assembly="DevExpress.Web.ASPxScheduler.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxScheduler.Reporting" assembly="DevExpress.Web.ASPxScheduler.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
			</controls>-->
		</pages>

		<sessionState timeout="70"/> 
		</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<!--<add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>-->
		</modules>
		<handlers>
			<!--<add type="DevExpress.Web.ASPxUploadControl.ASPxUploadProgressHttpHandler, DevExpress.Web.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode"/>
			<add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v13.2, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode"/>-->
			<add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/></handlers>
		<validation validateIntegratedModeConfiguration="false"/>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="30000000"/>
			</requestFiltering>
		</security>  
		
	</system.webServer>
 
	<!--<devExpress>
		<themes enableThemesAssembly="true" styleSheetTheme="" theme="BlackGlass" customThemeAssemblies=""/>
		<compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true"/>
		<settings doctypeMode="Html5" rightToLeft="false"/>
		<errors callbackErrorRedirectUrl=""/>
	</devExpress>-->
</configuration>
